@import "react-variables";
.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.btn-primary:hover {
    color: $primary;
    background-color: $white;
    border-color: $primary;
}

.btn.btn-primary-outline.active {
    color: $primary;
}